# Dependencies
node_modules/

# Next.js
.next/
out/

# Env files — JANGAN PERNAH COMMIT
.env
.env.local
.env.*.local
.env.development
.env.production

# SSL / certificates
*.pem
*.crt
*.key
*.cert
ca.pem

# Build
build/
dist/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo